* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  display: flex;
  max-width: 70%;
  height: 40em;
  /* border: red solid 2px; */
}

.rectangle {
  display: inline-block;
  height: 100%;
  width: 112px;
  margin-left: 10px;
  background-color: rgba(66, 134, 244, 0.8);
  text-align: center;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: #2e7d32;
}
